<div class="bz-card">  
  <div class="bz-card__header-state bz-card__header-state--green"></div>
  <div class="bz-card__header">
    <div class="bz-card__header-icon">
      <svg class="bz-icon" height="16px" width="16px">
        <use href="#cloud-process"></use>
      </svg>
    </div>
    <div class="bz-card__header-text">
      <h4 class="bz-card__header-title">{{title}} </h4>
      <p class="bz-card__header-subtitle"><span class="bz-card__header-subtitle--green">{{subtitle}}  </span></p>
    </div>
    <a class="bz-card__moreactions" href="#">
      <svg class="bz-icon" height="16px" width="16px">
        <use href="#icon-dots-vertical"></use>
      </svg>
    </a>
  </div>
</div>